@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;1,900&display=swap');

body {
    background-color: #f3f3f3;
    font-size: 2vw;
    font-family: 'Libre Franklin', sans-serif;
}

main {
    background-color: #ffffff;
}

p {
    margin: 0;
    padding: 0;
}

.hauptartikel {
    height: 40rem;
    display: grid;
    padding: 1rem;
    border: 1px solid #0f0;
    margin: 2rem;
    grid-template-columns: 30fr 70fr;
    grid-template-rows: 80fr 20fr;
}

.hauptartikel > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.hauptartikel > img:hover {
    transform: scale(1.05);
}


.text {
    padding: 2rem;
    overflow: hidden;
    grid-row: span 2;
}

.headings {
    font-size: 2rem;
}

.headings > * {
    margin: 0;
}